
<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="style1.css">
</head>
<body ng-controller="LoginController">
  <div class="form-container">
    <h2>Login</h2>
    <form name="loginForm" ng-submit="login(loginForm)" novalidate>
      
      <!-- Username -->
      <label>Username:</label><br>
      <input type="text" name="username" ng-model="user.username" required><br>
      <span class="error"
            ng-show="(loginForm.username.$touched || submitted) &&
                     loginForm.username.$error.required">
        Username is required.
      </span><br><br>
      
      <!-- Password -->
      <label>Password:</label><br>
      <input type="password" name="password" ng-model="user.password"
             required ng-minlength="6"><br>
      <span class="error"
            ng-show="(loginForm.password.$touched || submitted) &&
                     loginForm.password.$error.required">
        Password is required.
      </span>
      <span class="error"
            ng-show="(loginForm.password.$touched || submitted) &&
                     loginForm.password.$error.minlength">
        Password must be at least 6 characters.
      </span><br><br>
      
      <!-- Submit -->
      <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body> 
</html>      